// Specific CSS for your home-page
.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  align-items: center;
}
.card-img-top {
  margin-top: 2rem;
}

.slogan {
  margin-bottom: 7rem;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-footer {
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner h3 {
//   font-size: 20px;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }
