<div class="d-flex justify-content-between align-items-center footer footer-expand fixed-bottom container-fluid pt-2">

  <div class="navigation-btn">
    <button class="btn" type="button">
      <%= link_to "/search", class:"card-link" do %>
        <i class="fa-sharp fa-solid fa-magnifying-glass text-white fs-4"></i>
        <span class="d-block text-white fs-6">Search</span>
      <% end %>
    </button>
  </div>

  <div class="navigation-btn">
    <button class="btn" type="button">
      <%= link_to "/dashboard", class:"card-link" do %>
        <i class="fa-sharp fa-solid fa-d text-white fs-4"></i>
        <span class="d-block text-white fs-6">Dashboard</span>
      <% end %>
    </button>
  </div>

  <div class="navigation-btn">
    <button class="btn" type="button">
      <%= link_to "/map", class:"card-link" do %>
        <i class="fa-sharp fa-solid fa-map-pin text-white fs-4"></i>
        <span class="d-block text-white fs-6">Map</span>
      <% end %>
    </button>
  </div>

  <div class="navigation-btn">
    <button class="btn" type="button">
      <%= link_to "/places/new", class:"card-link" do %>
      <i class="fa-sharp fa-solid fa-plus text-white fs-4"></i>
      <span class="d-block text-white fs-6">Add</span>
      <% end %>
    </button>
  </div>
</div>
