<nav class="d-flex justify-content-between navbar navbar-light align-items-center fixed-top position-fixed">
  <div class="container-fluid">

    <!-- Logo -->
    <%= link_to "/", class: "navbar-brand mx-1 my-0" do %>
      <%= image_tag "https://res.cloudinary.com/dwrkiuiqa/image/upload/v1678439564/Historant-logo-BIG-LOGO-WHITE_huxdwd.png" %>
    <% end %>

    <!-- Menu -->
    <button class="navbar-icon navbar-toggler btn fa-2x mx-4 fs-2" id="navbar-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="fa-sharp fa-solid fa-bars"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><strong>Menu</strong></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/places/new">Add a review</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/places">Places</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/menu_items">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Welcome Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/users/sign_out" data-turbo-method="delete" >Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
