<!--
<h2>profile</h2>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card text-white bg-light mb-3" style="max-width: 20rem; height: 20rem">
    <div class="card-header" style="font-size: 30px; color: black; font-weight: bold;">Your Profile</div>
    <div class="card-body">
      <h5 class="card-title"style="color: black;">Full Name</h5>
      <p class="card-text;" style="color: black;"><%= @user.first_name%> <%= @user.last_name%></p>
      <h5 class="card-title;" style="color: black;">Email</h5>
      <p class="card-text;" style="color: black;"><%= @user.email %></p>
    </div>
  </div>
</div>
-->
