<div class="container my-4 py-4">
  <div class="container-background">
    <h1>Your Profile</h1>
    <div class="col-lg-8">
      <div class="card mx-auto col-sm-6 mt-5 border-0">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email:</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">user@admin.com</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Name:</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Patricia Lambertz</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile:</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(+49) 765-4321</p>
            </div>
          </div>
        </div>
      </div>
</div>
