.btn-ghost {
  align-items: center;
  background-color: $btn-prim;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: #7D0633;
  color: #ffffff;
}

.btn-ghost:active {
  background: #7D0633;
  color: rgba(255, 255, 255, 0.7);
}

.btn-ghost:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.btn-ghost-sec {
  color: $btn-prim;
  background-color: white;
  border: 1px solid $btn-prim;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: 600;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-ghost-sec:hover,
.btn-ghost-sec:focus {
  background-color: #7D0633;
  color: #ffffff;
}

.btn-ghost-sec:active {
  background: #7D0633;
  color: rgba(255, 255, 255, 0.7);
}

.btn-ghost-sec:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
