.form {
  background: white;
  padding: 10px 20px;
  margin-top: 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 30px;
    text-align: left;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}

.rating-input fieldset{
  display: flex;
  width: 100%;
  legend {
    display: none;
  }
  .form-check {
    flex-grow: 1;
  }
}
