.navbar {
  justify-content: space-between;
  background-color: #A84448;
}

.navbar-brand img {
  width: 150px;
}

.navbar-icon {
  width: 10px;
}

.navbar li {
  color: white;
}

.btn {
  color: white;
}

#navbar-button {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.magnifier-icon:focus,
.magnifier-icon:active {
  outline: none;
  box-shadow: none;
}

.btn.show {
  color: white;
  background-color: #A84448;
  border-color: #A84448;
}

.btn:hover {
  color: white;
  text-decoration: none;
}
