<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @places.each do |place| %>
      <%= render "places/place_card", place: place %>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
