<div class="container px-4">
  <div class="row row-cols-1 row-cols-md-3 g-4 index-page">
  <h2>Your places</h2>
    <% if @places.present? %>
      <% @places.each do |place| %>
        <%= render "places/place_card", place: place %>
      <% end %>
    <% else %>
      <div class="p-4 text-center card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/dwrkiuiqa/image/upload/v1680507373/empty-logobg_tjlvi4.jpg)">
        <p>No places yet!</p>
      </div>
    <% end %>
  </div>
</div>
